<%= form_for([@cocktail, @dose]) do |f| %>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">x
    <%= f.label :ingredient  %>
    <%= f.select :ingredient_id, Ingredient.form_collection %>
  </div>
  <%= f.submit class: "btn btn-success" %>
<% end %>
